<div class="">
    <ul class="navbar-nav nav">
        <li>
            <a class="navbar-brand" href="/">MEAN Store</a>
        </li>
        {% if req.isAuthenticated() %} {% for item in globals.menu %}
        <li ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
            <a href="/{{item.link}}">{{item.title}}</a>
        </li>
        {% endfor %} {% endif %}
    </ul>
    {% if !req.isAuthenticated() %}
    <ul class="navbar-nav nav pull-right">
        <li><a href="/signup">Signup</a>
        </li>
        <li class="divider-vertical"></li>
        <li><a href="/signin">Signin</a>
        </li>
    </ul>
    {% else %}
    <ul class="navbar-nav nav pull-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{req.user.name}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/signout">Signout</a>
                </li>
            </ul>
        </li>
    </ul>
    {% endif %}
</div>
