<form class="signin form-horizontal" data-ng-submit="login(credentials)">
    <div class="form-group">
        <label class="col-md-4 control-label" for="email">Email</label>
        <div class="col-md-8">
            <input id="email" class="form-control" type="text" data-ng-model="credentials.email" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="password">Password</label>
        <div class="col-md-8">
            <input id="password" class="form-control" type="password"  data-ng-model="credentials.password" placeholder="Password">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <button class="btn btn-primary" type="submit">Sign in</button>&nbsp; or&nbsp;
            <a class="show-signup" href="/signup">Sign up</a>
            <alert ng-if="error" type="warning">{{error}}</alert>
        </div>

    </div>
</form>
