<form name="form" class="signin form-horizontal" data-ng-submit="login(credentials)" novalidate>
    <div class="form-group has-feedback">
        <label class="col-md-3 control-label" for="email">Email</label>
        <div class="col-md-6" data-ng-class="{'has-success':form.email.$valid, 'has-error':form.email.$dirty && form.email.$invalid}">
            <input id="email" name="email" class="form-control" type="email" data-ng-model="credentials.email" placeholder="Email" required>
        </div>
        <div class="col-md-3 has-error" data-ng-show="form.email.$dirty && form.email.$invalid">
            <span class="form-control-feedback feedback-message" data-ng-show="form.email.$error.required">required</span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <label class="col-md-3 control-label" for="password">Password</label>
        <div class="col-md-6" data-ng-class="{'has-success':form.password.$valid, 'has-error':form.password.$dirty && form.password.$invalid}">
            <input name="password" id="password" class="form-control" type="password" data-ng-model="credentials.password" placeholder="Password" required>
        </div>
        <div class="col-md-3 has-error" data-ng-show="form.password.$dirty && form.email.$invalid">
            <span class="form-control-feedback feedback-message" data-ng-show="form.password.$error.required">required</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-6 text-center">
            <button class="btn btn-primary" data-ng-disabled="form.$pristine || form.$invalid" type="submit">Sign in</button>
        </div>
    </div>
    <div class="form-group">
        <alert ng-show="error" class="col-md-offset-2 col-md-7" type=" 'danger' " close="error=''">{{error}}</alert>
    </div>
</form>
